<!DOCTYPE html>
<html>
  <head>
    <title>Up 2 Speed</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render "layouts/navigation" %>


      <div class="container col-lg-12">
        <!-- Flash messages -->
          <div class="row">
              <div class="col-lg-12 text-center">
                <% flash.each do |a,b| %>
                	<div class="alert alert-success"> <%= b %> </div>
                <% end %>
              </div>
          </div>
          <!-- /.row -->
      <!-- Page Content -->
        <%= yield %>
        <%= render "layouts/footer" %>
      </div>
      <!-- /.container -->
  </body>
  </html>
